* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* main settings */
/* PAGINA 1 */
/* HEADER MAIN INPORTENT!! */
:root {
    --V5: rgb(240, 240, 240);
    --V49: rgb(220,220,220);
    --V45: rgb(180,180,180);
    --V4: rgb(120, 120, 120);
    --V3: rgb(60, 60, 60);
    --V2: rgb(20, 20, 20);
    --V15: rgb(15, 15, 15);
    --V1: rgb(10, 10, 10);

    --black: rgb(0,0,0);
    --white: rgb(255,255,255);

    --Huiskleur: rgb(200, 0, 0);
}
::-webkit-scrollbar {
    display: none;
}
html {
    font-family: 'Rubik', sans-serif;
    color: var(--black);
}
body {
    width: 100vw;
    overflow-y: auto;
    background-color: var(--V49);
}
a{
    text-decoration: none;
    color: var(--black);
}
nav#Navbar {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--V2);
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: space-between;
    z-index: 1000000;
}
a#pad {
    padding: 0% 6% 0% 1%;
    z-index: 10000000;
}
div.ProfileThings{
    height: 8vh;
    width: 30vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
a#logo {
    cursor: pointer;
    padding-left: 10%;
}
i#dropdownParent {
    height: 4vh;
    width: 7vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
#line {
    position: relative;
    height: 0.5vh;
    width: 2vw;
    background-color: var(--white);
    transition: 300ms;
    opacity: 1;
    z-index: 1000000;
}
div#dropdown1 {
    position: absolute;
    height: 100vh;
    width: 30vw;
    left: -30vw;
    display: flex;
    flex-direction: column;
    background-color: var(--V2);
    z-index: 10000;
}
div.Searchbar {
    height: 10%;
    width: 80%;
    margin-top: 12vh;
    margin-left: 10%;
}
form#searchBar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
form#searchBar input {
    height: 100%;
    width: 80%;
    font-size: 200%;
    align-items: center;
    text-align: center;
    background-color: var(--V4);
    border: none;
    color: var(--black);
}
input::placeholder {
    font-size: 80%;
    color: var(--black);
    font-family: Arial, sans-serif;
}
form#searchBar button {
    height: 100%;
    width: 20%;
    font-size: 200%;
    align-items: center;
    text-align: center;
    background-color: var(--V4);
    border: none;
    color: var(--white);
}
a#inc:hover {
    color: red;
    transition: 300ms;
}
a#incc:hover {
    color: var(--black);
    transition: 300ms;
}
div#dropdown1 a {
    margin-left: 20%;
    font-size: 250%;
    font-weight: bold;
    margin-top: 5%;
    text-decoration: none;
    color: var(--white);
}
img#logo {
    height: 7vh;
    width: 4vw;
    border-radius: 6px;
    background-color: var(--Huiskleur);
}
i#user {
    font-size: 300%;
    color: var(--V5);
    cursor: pointer;
    padding-right: 5vw;
}
div#cartCount{
    position: absolute;
    margin-top: -5vh;
    margin-left: 3.5vw;
    height: 3vh;
    width: 2vw;
    border-radius: 10px;
    background-color: var(--V5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
h1#cartCount{
    font-size: 100%;
}
div#dropdown2 {
    position: absolute;
    height: 20vh;
    width: 20vw;
    margin-left: 75%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: var(--V5);
    z-index: 90;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 200%;
    opacity: 0;
}
div#dropdown2 a {
    height: 50%;
    width: 100%;
    text-decoration: none;
}
i#SigninDrop,
i#LoginDrop {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--black);
    pointer-events: none;
    align-items: center;
    padding-top: 5%;
}
i#SigninDrop h1,
i#drop,
i#LoginDrop h1,
i#drop {
    padding: 0% 5% 0% 5%;
}
i#SigninDrop h1,
#LoginDrop h1 {
    font-size: 50%;
}
div#dropdown2 a:hover {
    background-color: var(--V4);
    transition: 600ms;
}
button#Lightmode{
    height: 8vh;
    width: 20vw;
    margin-left: 6vw;
    font-family: monospace;
    font-weight: bold;
    font-size: 150%;
    box-shadow: 0px 0px 15px 5px rgb(36, 36, 36);
    border-radius: 20px;
    border: none;
    background-color: var(--V5);
    color: var(--black);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/* HEADER MAIN INPORTENT (END)!! ------------------------------------------------------------------------------------------------------*/
/* FRONT PAGE (SLIDESHOW)!! ------------------------------------------------------------------------------------------------------*/

section#oneIndex {
    height: 80vh;
    width: 100vw;
    background-color: red;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    z-index: 50;
}
div.main-banner{
    margin: 0 auto;
    height: 100%;
    width: 70%;
    background-color: var(--white);
    overflow: hidden;
    position: relative;
}
div.main-banner .imgban{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}
div.main-banner #imgban4{
    background-image: url(../docs/Slide2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 0%;
}
div.main-banner #imgban3{
    background-image: url(../docs/Slide3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 0%;
}
div.main-banner #imgban2{
    background-image: url(../docs/Slide4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 0%;
}
div.main-banner #imgban1{
    background-image: url(../docs/Slide1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 0%;
}
div.banner-line-parent{
    position: absolute;
    width: 100%;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.banner-line{
    height: 0.8vh;
    width: 5vw;
    border-radius: 10vw;
    background-color: var(--V2);
    transition: 300ms;
    cursor: pointer;
}
div.Side {
    margin-top: 0.2%;
    height: 99.8%;
    width: 30%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
div#HeightCorrection {
    height: 12vh;
    width: 100vw;
    background-color: var(--V15);
    color: var(--white);
}
div.HeightCorrection-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
h1#txt-1,
h1#txt-2{
    font-size: 300%;
    margin-top: 1%;
}
h1#txt-2{
    margin-right: 2vw;
    color: red;
}
h1#welcome {
    position: sticky;
    font-size: 250%;
    text-align: center;
    width: 100%;
    height: 10%;
}
#inform{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#RecGames{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
h1#recGameH1{
    font-size:250%;
}
p#recGameP{
    margin-top: 5vh;
    font-size: 150%;
}

div#HeightCorrection .line {
    position: relative;
    height: 5%;
    width: 100%;
    background-color: var(--Huiskleur);
}

/* FRONT PAGE (SLIDESHOW END)!! ------------------------------------------------------------------------------------------------------*/
/* GAMES SECTION SPOTLIGHT SECTION ()!! ------------------------------------------------------------------------------------------------------*/
section#spotlight{
    height: 360vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--V15);
}
nav#Spotlight{
    height: 10vh;
    width: 80vw;
    background-color: var(--V15);
}
div.spotlight1{
    height: 60vh;
    width: 80vw;
    background-color: var(--V15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.card{
    height: auto;
    width: 15vw;
    background-color: var(--V15);
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.spotlight2{
    height: 60vh;
    width: 80vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--V15);
}
div.kaart{
    height: auto;
    width: 25vw;
    background-color: var(--V15);
}

/* games info !! */
/* gameType1 --------------------------------------------------------------------------*/
img#gameImage1{
    height: 40vh;
    width: 15vw;
    border-radius: 2vh;
}
h1#gameName1,
h1#gameName2
{
    font-size: 100%;
    margin-top: 3vh;
    color: var(--white);
    overflow: visible;
    text-align: center;
}
h1#gameName2{
    width: 30vw;
}
h1#gamePrice1{
    margin-top: 1vh;
    font-size: 150%;
    color: var(--white);
    display: flex;
    flex-direction: row;
    overflow: visible;
}
h1#gamePrice1
p#price2{
    margin-left: 2vw;
    text-decoration: none;
    overflow: visible;
}
button#addToCart{
    height: auto;
    width: auto;
    border: none;
    cursor: pointer;
}
button#addToCart2{
    height: auto;
    width: auto;
    border: none;
    cursor: pointer;
}
button#addToCart2:hover,
img#gameImage1:hover,
img#gameImage2:hover,
img#gameImage3:hover
{
    transition: 500ms;
    filter: brightness(110%);
}
/* gameType2 */
img#gameImage2{
    height: 30vh;
    width: 25vw;
    border-radius: 1vh;
}
p#gameInf{
    margin-top: 2%;
    margin-left: 5%;
    color: var(--white);
    font-size: small;
}
h1#gamePrice2{
    height: 6vh;
    width: 25vw;
    font-size: 150%;
    margin-top: 2%;
    margin-left: 5%;
    color: var(--white);
}
nav#Spotlight2{
    height: 10vh;
    width: 80vw;
    background-color: var(--V15);
}
div.Spotlight3{
    background-color: var(--V4);
    height: 80vh;
    width: 80vw;
    margin-top: 5vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav#Spotlight22{
    height: 10vh;
    width: 80vw;
    background-color: var(--V4);
    margin-left: 7vw;
    display: flex;
    align-items: center;
}
h1#spotlightTxt2{
    font-size: 250%;
    color: var(--white);
}
div.spot4{
    height: 70vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--V4);
}
div.spotlight4{
    height: 70vh;
    width: 37vw;
    background-color: var(--V4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
img#gameImage3{
    height: 40vh;
    width: 30vw;
    border-radius: 1vh;
}
/* LAST */
div.Spotlight5{
    height: 50vh;
    width: 80vw;
    margin-top: 10vh;
    background-color: var(--V15);
    display: flex;
    flex-direction: row;
}
img#gameImage5{
    height: 50vh;
    width: 40vw;
    border-radius: 10px;
}
div.exploreC{
    height: 50vh;
    width: 37.5vw;
    margin-left: 2.5vw;
    background-color: var(--V15);
}
h1#exploreCtitle{
    margin-left: 2vw;
    height: 10vh;
    width: 80vw;
    margin-top: 10vh;
    color: var(--white);
}
h1#exploreCinfo{
    margin-left: 2vw;
    height: 10vh;
    width: 80vw;
    color: var(--white);
}
button#exploreCbutton{
    height: 8vh;
    width: 10vw;
    margin-left: 2vw;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px var(--V4);
}
h1#spotlightTxt{
    color: var(--white);
    font-size: 200%;
}
/* GAMES SECTION SPOTLIGHT SECTION (END)!! ------------------------------------------------------------------------------------------------------*/



/* USER sign-up & Login (NEW PAGE) ------------------------------------------------------------------------------------------------------*/

section.oneSign {
    height: 86vh;
    width: 100vw;
    /* background-color: var(--V3); */
    background: url(../docs/UserBackground.png);
    background-repeat: no-repeat;
    background-size: 100vw 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}
.sign {
    height: 73vh;
    width: 30vw;
    background-color: var(--white);
    color: var(--V3);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px rgb(36, 36, 36);
}
.sign h1 {
    display: flex;
    flex-direction: row;
}
h1#main {
    font-size: 250%;
    margin-top: 5%;
    overflow-y: hidden;
}
h1#main 
p#i {
    color: red;
    overflow-y: hidden;
}
h1#second {
    font-size: 150%;
    margin-top: 5%;
    overflow-y: hidden;
}
h1#second 
a {
    color: var(--V3);
    text-decoration-line: underline;
}
form#signin {
    margin-top: 5%;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
form#signin 
input {
    height: 10%;
    width: 60%;
    border-radius: 10px;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: 0px 0px 10px 5px rgba(199, 199, 199, 1);
}
form#signin 
input::placeholder {
    color: rgb(101, 101, 101);
    font-family: 'Rubik', sans-serif;
    font-size: 100%;
    text-decoration: none;
}
form#signin 
button {
    font-family: 'Rubik', sans-serif;
    height: 10%;
    width: 40%;
    border-radius: 10px;
    border: none;
    background-color: var(--V2);
    color: var(--white);
    font-size: 150%;
    cursor: pointer;
}
h1#mededeling {
    margin-top: 10%;
    position: absolute;
    color: var(--white);
    font-size: 150%;
}

/* USER sign-up & Login END (END) ------------------------------------------------------------------------------------------------------*/
/* PROFILE PAGE (NEW PAGE) ------------------------------------------------------------------------------------------------------*/
section#Profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7vh;
}
div#Profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 9vw;
}
nav#Profile{
    display: flex;
    flex-direction: column;
    padding-left: 14vw;
}

div.accInf1{
    height: 8vh;
    width: 19vw;
    background-color: var(--white);
    color: var(--V4);
    transition: 500ms;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border: 0.1vh;
    border-style: solid;
    border-color: var(--V5);
    cursor: pointer;
}
h1#accInf2{
    padding: 0% 0% 0% 0%;
}
div.accInfLine{
    height: 100%;
    width: 5%;
    background-color: rgb(250, 0, 0);
    display: none;
}
div.accInf1:hover{
    color: var(--black);
}


div.proflieSet1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 57vw;
}
div.AccBG{
    height: 20vh;
    width: 55vw;
    border-radius: 10px 10px 0px 0px;
    background-image: linear-gradient(to bottom right, rgb(255, 0, 0), rgb(0, 0, 255));
    overflow: visible;
    z-index: 10;
}
div.AccSec{
    height: 20vh;
    width: 55vw;
    border-radius: 10px;
    background-color: var(--white);
    margin-top: 2vh;
}
div.AccBG2{
    height: 40vh;
    width: 55vw;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--white);
}
div.AccBG2 h1{
    margin-top: 10vh;
    margin-left: 2.5vw;
    font-size: 200%;
    padding-bottom: 3vh;
}
div.AccBG2 p{
    margin-left: 2.5vw;
    font-size: 100%;
}

div.AccBG3{
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-left: 2.5vw;
}
div.AccBG3 input{
    height: 6vh;
    width: 18vw;
    background-color: var(--V45);
    cursor: not-allowed;
}
div.AccBG3 input::placeholder{
    font-size: 150%;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
div.AccBG3 button{
    height: 6vh;
    width: 4vw;
    margin-left: 2vw;
    border: none;
    background-color: var(--V2);
    color: var(--white);
    cursor: pointer;
}
div.AccBG3 p{
    font-size: 100%;
    font-weight: bolder;
    color: var(--black);
}
img#AccImg{
    height: 15vh;
    width: 7.5vw;
    margin-top: 12vh;
    margin-left: 2.5vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 1vh;
    border-color: var(--white);
}
/* PROFILE PAGE (END) ------------------------------------------------------------------------------------------------------*/
/* CART PAGE (START) ------------------------------------------------------------------------------------------------------*/
section#cart{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../docs/CartBackground.png);
    background-size: cover;
    color: var(--white);
}
nav#cart{
    height: 15vh;
    width: 70vw;
}
h1#cartTitle{
    height: 15vh;
    width: 70vw;
    font-size: 350%;
}
div.cartBody{
    height: auto;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.cart{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.cartgames{
    padding: 2vh 0vw 2vh 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    border-radius: 10px;
    height: 40vh;
    width: 48vw;
    background-color: var(--V3);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img#cartGameImg{
    height: 30vh;
    width: 10vw;
    border-radius: 5px;
}
div.cartGameText{
    height: 38vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
}
hr#cart{
    width: 80%;
    margin-left: 10%;
}
h1#Charcarpro{
    height: 8vh;
    width: 30vw;
}
p#Charcompany{
    height: 8vh;
    width: 30vw;
}
h1#CharPrice{
    height: 8vh;
    width: 30vw;
}
div#cartButtons{
    display: flex;
    flex-direction: row;
}
button#AddWish,
button#RemoveCart{
    height: 7vh;
    width: 8vw;
    margin-right: 1vw;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    color: var(--white);
    background-color: rgb(250, 0, 0);
    cursor: pointer;
}
button#RemoveCart{
    background-color: rgb(100, 0, 0);
}
div.cartSubtotal{
    height: 50vh;
    width: 20vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
h1#cartSubtotal,
h2#cartSubtotal,
h3#cartSubtotal,
h4#cartSubtotal{
    color: white;
    height: 5vh;
    width: 20vw;
    margin-left:2vw;
}
h1#cartSubtotal{
    font-size: 250%;
    height: 10vh;
}
h2#cartSubtotal{
    font-size: 150%;
}
h3#cartSubtotal{
    font-size: 100%;
}
h4#cartSubtotal{
    margin-top: 10vh;
    font-size: 200%;
}
button#cartSubtotal{
    height: 5vh;
    width: 15vw;
    margin-top: 2vh;
    margin-left: 2vw;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    color: var(--black);
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px var(--V4);
}
/* CART PAGE (END) ------------------------------------------------------------------------------------------------------*/
/* GAME PAGE (START) ------------------------------------------------------------------------------------------------------*/
h1#game-title{
    height: 10vh;
    width: 70vw;
    font-size: 350%;
}
div.gamedisplay-parent{
    width: 45vw;
}
div.gammeinfo-parent,
hr#game-hr
{
    width: 20vw;
    /* height: auto; */
}
iframe#game-vid{
    height: 50vh;
    width: 44vw;
    padding: 1vh 0.5vw 1vh 0.5vw;
    background-color: var(--black);
    border-radius: 2vh;
}
p#game-info,
h1#game-genre,
h1#game-rating,
p#game-developer
{
    margin-top: 2vh;
    font-size: 150%;
}

img#game-img{
    height: 30vh;
    width: 20vw;
    border-radius: 1vh;
}
div.pegi{
    height: 10vh;
    width: 19vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
    padding: 1vh 0.4vw 1vh 0.5vw;
    border: 0.1vh;
    border-style: solid;
    border-color: var(--V2);
}
img#pegi{
    height: 10vh;
    width: 4vw;
    padding-right: 2vw;
}
h1#game-price{
    margin-top: 3vh;
}
button#game-buy,
button#game-cart
{
    height: 7vh;
    width: 100%;
    margin-top: 2vh;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: none;
}
button#game-cart{
    border: 0.1vh;
    border-style: solid;
}
button#game-buy{
    background-color: var(--Huiskleur);
}
/* GAME PAGE (END) ------------------------------------------------------------------------------------------------------*/
/* ADMIN () ------------------------------------------------------------------------------------------------------*/
a#admin-link{
    font-size: 150%;
    color: rgb(179, 0, 255);
    margin-right: 2vw;
    text-decoration: underline;
}
.admin-product{
    margin: 10vh 10vw 10vh 10vw;
    border-radius: 2vh;
    height: 170vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: var(--V5);
    align-items: center;
}
button#game-builder{
    height: 10vh;
    width: 40%;
    margin-top: 1vh;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    color: var(--white);
    background-color: rgb(250, 0, 0);
    cursor: pointer;
}
input#game-builder{
    margin-top: 1vh;
    height: 3vh;
    width: 50%;
    border: 0.1vh;
    border-color: var(--V45);
    border-style: solid;
    background-color: var(--white);
}
form#game-tool{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    background-color: var(--V5);
    align-items: center;
}
/* FOOTER () ------------------------------------------------------------------------------------------------------*/
footer{
    height: 50vh;
    width: 100vw;
    background-color: black;
}