* {
    margin: 0;
    padding: 0;
}

:root {
    /* main colors */
    --V6: #000;
    --V5: #003249;
    --V4: #007ea7;
    --V3: #80ced7;
    --V2: #9ad1d4;
    --V1: #ccdbdc;

    /* main widths and heights */
    --SectionHeight: 89vh;
    --SectionHeightSmall: 12vh;

    --SectionWidth: 90vw;
}

/* Main Settings */
html{
    color: white;
}

body {
    height: var(--SectionHeight);
    display: flex;
    flex-direction: column;
    background-color: var(--V4);
}

.light-mode {
    background-color: #efefef;
    color: #121212;
}

ul {
    list-style-type: none;
    background-color: var(--V4);
    height: 7vh;
    padding-right: 2vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

li {
    display: inline;
    justify-content: space-around;
    padding-left: 2vw;
}

a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

a:hover {
    color: rgb(255, 255, 125);
    font-size: 28px;
}

.onderbalk {
    height: var(--SectionHeight);
    display: flex;
    flex-direction: row;
}

.back {
    position: relative;
    width: 13%;
    height: var(--SectionHeight);
    background-color: var(--V2);
    z-index: 1;
}

.Lback {
    width: 15%;
}

section {
    position: relative;
    width: 85%;
    height: var(--SectionHeight);
    display: flex;
    flex-direction: column;
    background-color: var(--V2);
    z-index: 1;
}

/* HomePage MainThings*/

.SP {
    height: 10vh;
    background-color: var(--V2);
}

.SPsmall {
    height: 4vh;
}

/*----------------------------------------------------------------------------------------------------------------*/

.S1 {
    background-color: var(--V2);
    height: 3%;
}

/*----------------------------------------------------------------------------------------------------------------*/

.S2 {
    background-color: var(--V2);
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.S2child1 {
    width: 76%;
    height: 100%;
    background-color: white;
}

.S2child2 {
    width: 20%;
    height: 100%;
    background-color: var(--V2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.KA {
    width: 90%;
    height: 17%;
    background-color: white;
}

/*friends*/
.friendless {
    text-align: center;
    font-size: 60px;
}

/*settings*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}