* {
    margin: 0;
    padding: 0;
}

:root {
    /* main colors */
    --V5: #003249;
    --V4: #007ea7;
    --V3: #80ced7;
    --V2: #9ad1d4;
    --V1: #ccdbdc;

    /* main widths and heights */
    --SectionHeight: 89vh;
    --SectionHeightSmall: 12vh;

    --SectionWidth: 90vw;
}

/* Main Settings */
html{
    color: white;
}

body {
    height: var(--SectionHeight);
    display: flex;
    flex-direction: column;
    background-color: var(--V4);
}
ul {
    list-style-type: none;
    background-color: var(--V5);
    height: 7vh;
    padding-right: 2vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

li {
    display: inline;
    justify-content: space-around;
    padding-left: 2vw;
}

a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

a:hover {
    color: rgb(255, 255, 125);
    font-size: 28px;
}

.onderbalk {
    height: var(--SectionHeight);
    display: flex;
    flex-direction: row;
}

.back {
    position: relative;
    width: 13%;
    height: var(--SectionHeight);
    background-color: var(--V2);
    z-index: 1;
}

.Lback {
    width: 15%;
}

section {
    position: relative;
    width: 85%;
    height: var(--SectionHeight);
    display: flex;
    flex-direction: column;
    background-color: var(--V2);
    z-index: 1;
}

/* HomePage MainThings*/

.SP {
    height: 10vh;
    background-color: var(--V2);
}

.SPsmall {
    height: 4vh;
}

/*----------------------------------------------------------------------------------------------------------------*/

.S1 {
    background-color: var(--V2);
    height: 3%;
}

/*----------------------------------------------------------------------------------------------------------------*/

.S2 {
    background-color: var(--V2);
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.S2child1 {
    width: 76%;
    height: 100%;
    background-color: white;
}

.S2child2 {
    width: 20%;
    height: 100%;
    background-color: var(--V2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.KA {
    width: 90%;
    height: 17%;
    background-color: white;
}

/*friends*/
.friendless {
    text-align: center;
    font-size: 300px;
}