* {
    margin: 0;
    padding: 0;
}
:root {
    /* main colors */
    --BlackColor: rgb(15, 15 , 15);
    --LightColor: rgb(40, 40, 40);
    --WhiteColor: rgb(150, 150, 150);
    --HouseColor: /* een echte kleur maar welke weet ik nog niet, messchien iets moderns ofz?*/;

    /* main widths and heights */
    --SectionHeight: 240vh;
    --SectionHeightSmall: 12vh;

    --SectionWidth: 90vw;
}

/* Main Settings */
html{
    color: white;
}

body {
    height: var(--SectionHeight);
    display: flex;
    flex-direction: column;
    background-color: var(--LightColor);
}

ul {
    list-style-type: none;
    background-color: rgb(10, 10, 10);
    height: 7vh;
    padding-right: 2vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

li {
    display: inline;
    justify-content: space-around;
    padding-left: 2vw;
}

a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

a:hover {
    color: rgb(255, 255, 125);
    font-size: 28px;
}

.bovenbalk {
    height: 1vh;
    background-color: var(--LightColor);
    z-index: 2;
}
.onderbalk {
    height: var(--SectionHeight);
    display: flex;
    flex-direction: row;
}

.back {
    position: relative;
    width: 5vw;
    height: var(--SectionHeight);
    background-color: var(--LightColor);
    z-index: 1;
}
section {
    position: relative;
    width: var(--SectionWidth);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--LightColor);
    z-index: 1;
}

/* HomePage MainThings*/
.SPsmall {
    height: var(--SectionHeightSmall);
    background-color: var(--LightColor);
    display: flex;
    flex-direction: column-reverse;
}
.text{
    width: 100%;
    height: 50%;
    background-color: var(--WhiteColor);
}

/*----------------------------------------------------------------------------------------------------------------*/

.S1 {
    background-color: var(--LightColor);
    height: 6vh;
}
.S2 {
    background-color: var(--LightColor);
    height: 75vh;
    width: var(--SectionWidth);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.S2child {
    width: 45%;
    height: 75vh;
    background-color: white;
}
.txt{
    width: 100%;
    height: 10%;
    background-color: var(--BlackColor);
}
/*----------------------------------------------------------------------------------------------------------------*/
.ScrollWheel{
    width: var(--SectionWidth);
    height: 150vh;
    background-color: var(--LightColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.CardHolder{
    position: relative;
    width: 97%;
    height: 47%;
    background-color: var(--LightColor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card{
    position: relative;
    width: 20%;
    height: 100%;
    background-color: white;
}

