.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10%;
}
button{
    margin-top: 10%;
}
html{
    color: white;
    background-color: rgb(30,30,30);
}

table{
    border-style:solid;

border-width:2px;

border-color:black;
}